@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-marker li::marker {
    color: rgb(59 130 246);
    font-size: 1rem;
}

#particles {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -2;
}
